/* Estilo General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    
    font-family: Arial, sans-serif;
    background-color: #1B0631;
    color: #fff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.menu-navbar {
    background-color: #1B0631;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0 0 40px 0 rgba(209, 207, 207, 0.507);
    
    
}
.navbar-brand{
    color: #ececec;
}
.navbar-brand:hover{
    color: #8A2BE2;
}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline;
    margin: 0 1em;
     color: #fff;
}

.navbar-nav ul li a {
    color: #fff;
    text-decoration: none;
}
.nav-link{
    color: #ececec;
}

.nav-link:hover{
    color: #8A2BE2;
}


/* Sección de Inicio */
.inicio {
    background-image: url(https://wallpapers.com/images/hd/stars-computer-dx7txl9k2jde2l1p.jpg);
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 1000px;
    
}

.inicio::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    z-index: 1;
}
.mario{
position: absolute;
left: -95%;
top: -100%;
-webkit-animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-left-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mario > img {
    position: absolute;
}


.star {
    position: absolute;
    top: -100%; 
    right: -50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 200px; 
   margin-top: 5px;
   -webkit-animation: rotate-scale-up 0.75s linear ;
	        animation: rotate-scale-up 0.75s linear ;
}

  .title{
        position: relative;
        
        /* transform: translateY(-50%); */
  }

.title > h1{

    -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    z-index: 2; 
    color: #ffffff;
    font-size: 4rem;
}
.sub-title {
    margin-top: 180px; 
    z-index: 2;     
    color: #ffffff;
    font-size: 1.2rem;
}
.sub-title2 {    
    z-index: 2;     
    color: #ffffff;
    font-size: 1.2rem;
}


/* Estilo para la sección de video */
.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    border: none;
}

.video {
    text-align: center;
    padding: 20px;
    padding-top: 3rem;
    /* background-image: url(https://wallpapers.com/images/hd/stars-computer-dx7txl9k2jde2l1p.jpg); */
    background-color: #000116;
    margin-bottom: 20px;
    
}

.video-titulo {
    font-size: 2rem;
    margin-bottom: 10px;
}

.video-subtitulo {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.video-container {
    /* background-image: url(https://wallpapers.com/images/hd/stars-computer-dx7txl9k2jde2l1p.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Sección de Catálogo */
.catalogo {
    background-color: #1B0631;
   /*  background-image: url(https://wallpapers.com/images/hd/stars-computer-dx7txl9k2jde2l1p.jpg); */
    padding: 2em;
}
.h2C{
    color: white;
    display: flex;
    justify-content: center;
    
}

.productos {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.producto {
     background-color: transparent;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    background-image: linear-gradient(180deg, #F162BA0D 0%, #8B396B66 100%);     
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
.producto:hover {
    box-shadow: 0 0 20px 4px rgba(156, 82, 156, 0.7), 0 0 40px 8px rgba(128, 0, 128, 0.6); 
    transform: translateY(-10px); 
  }

.producto img {
    max-width: 100%;
    border-radius: 8px;
}

.producto h3 {
    margin: 1em 0 0.5em;
}

.producto button {
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 0.5em 1em;
    cursor: pointer;
    width: 170px;
    background-color: #ececec;
    background-size: 200% 200%;
    background-image: linear-gradient(135deg, #8A2BE2 0%, #FF69B4 51%, #8A2BE2 100%);
    transition: all .3s ease-in-out;
}

.producto button:hover {
    background-color: #ff4da9;
    background-position: 100%;
}


/* Sección de Producto Individual */
#producto {
    padding: 2em;
    display: flex;
    gap: 1em;
    background-image: url();
}

.producto-detalle img {
    width: 300px;
}

.info {
    max-width: 600px;
}

/* Carrito */
.carrito {
    background-color: #10012A;
    padding: 2em;
    text-align: center;
   /*  background-image: url(https://wallpapers.com/images/hd/stars-computer-dx7txl9k2jde2l1p.jpg); */
}

.carrito-items {
    background-color: #28094E;
    margin: 1em 0;
    padding: 1em;
    
    border-radius: 8px;
}

/* Contacto */
.contacto-formulario {
    padding: 2em;
    text-align: center;
    background-color: #10012A;
/*     background-image: url(https://wallpapers.com/images/hd/stars-computer-dx7txl9k2jde2l1p.jpg); */
}
.boton-violeta{
    margin: 0 auto;
    border-radius: 5px;
    width: 170px;
    background-color: #ececec;
    background-size: 200% 200%;
    background-image: linear-gradient(135deg, #8A2BE2 0%, #FF69B4 51%, #8A2BE2 100%);
    transition: all .3s ease-in-out;
}
.boton-violeta:hover{
    background-color: #ff4da9;
    background-position: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 400px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 0.5em;
    border: 1px solid #777;
    border-radius: 4px;
}

form button {
    background-color:#28094E;
    border: none;
    color: #fff;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #28094E;
}



/* Footer */
footer {
    background-color: #1B0631;
    padding: 1em;
    text-align: center;
    color: #bbb;
    box-shadow: 0 0 20px 0 rgba(209, 207, 207, 0.507);
}
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }

 
  
/*estrella*/
@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform:translate(-50%, -50%) scale(1) rotateZ(0);
              transform:translate(-50%, -50%) scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform:translate(-50%, -50%) scale(2) rotateZ(180deg);
              transform:translate(-50%, -50%) scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform:translate(-50%, -50%) scale(1) rotateZ(360deg);
              transform:translate(-50%, -50%) scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform:translate(-50%, -50%) scale(1) rotateZ(0);
              transform:translate(-50%, -50%) scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform:translate(-50%, -50%) scale(2) rotateZ(180deg);
              transform:translate(-50%, -50%) scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform:translate(-50%, -50%) scale(1) rotateZ(360deg);
              transform:translate(-50%, -50%) scale(1) rotateZ(360deg);
    }
  }

  /*mario*/
  @-webkit-keyframes slide-in-elliptic-left-fwd {
    0% {
      -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
              transform: translateX(-800px) rotateY(30deg) scale(0);
      -webkit-transform-origin: -100% 50%;
              transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 1800px 50%;
              transform-origin: 1800px 50%;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-left-fwd {
    0% {
      -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
              transform: translateX(-800px) rotateY(30deg) scale(0);
      -webkit-transform-origin: -100% 50%;
              transform-origin: -100% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 1800px 50%;
              transform-origin: 1800px 50%;
      opacity: 1;
    }
  }
  
  
/* Diseño Responsivo */
@media (max-width: 768px) {
    #inicio{
        background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/10/analisis-super-mario-bros-wonder-3198058.jpg?tf=1200x);
        display: flex;
        justify-content: center;
    }
    .h2{
        font-size: 1em;
        color: black;
        text-shadow: #fff(5,5,5,5);
    }
    
    
    .productos {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
    #producto {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    #inicio{
        background-image: url(https://kitsparaimprimirgratis.com/wp-content/uploads/2018/08/etiquetas-circulares-Mario-Bros.png);
        display: flex;
    justify-content: center;
    
    }
    .h2{
        font-size: 1em;
        
    }
    .p{
        color: #06103E;
        text-shadow: red;
    }
    .productos {
        grid-template-columns: 1fr;
        margin-left: 10px;
        margin-right: 10px;
    }
}

